@import "./reset.scss";

$메인칼라: #ff0000;

.wow-enter {
  opacity: 0;
}

.wow-enter-active {
  opacity: 1;
  transition: all 500ms;
}

.red {
  color: $메인칼라;
}
.my-alert {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.icansee {
  visibility: hidden;
}

.my-alert2 {
  @extend .my-alert; // .my-alert의 속성을 이 자리에 붙여넣어 주세요.
  background: #ffe591;
}

@mixin 함수() {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
} // 다른 곳에서는 '@include 함수()' 붙여 넣기 하면됨.

.my-alert p {
  margin-bottom: 0;
}

// div.container h4 {
//   color: blue;
// }

// div.container p {
//   color: green;
// }

div.container {
  h4 {
    color: black;
  }
  p {
    color: dodgerblue;
  }
}
// 이게 sass nesting 문법, 요것들은 전부 div.container 안에있는 UI들이구나
